<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thêm mới người dùng</title>
</head>
<body>
<h1>Thêm mới người dùng</h1>

<!-- Form thêm người dùng mới -->
<form action="#" th:action="@{/saveUser}" th:object="${user}" method="post">
    <!-- Không cần input cho ID, ID sẽ được tạo tự động -->
    <label for="firstName">First Name:</label>
    <input type="text" id="firstName" th:field="*{firstName}" /><br/>

    <label for="lastName">Last Name:</label>
    <input type="text" id="lastName" th:field="*{lastName}" /><br/>

    <button type="submit">Lưu</button>
</form>
</body>
</html>

<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <title>Thêm mới Sinh Viên</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1>Thêm mới Sinh Viên</h1>-->

<!--&lt;!&ndash; Form để nhập thông tin sinh viên, sẽ gửi dữ liệu tới /addSV bằng phương thức POST &ndash;&gt;-->
<!--<form action="#" th:action="@{/addSV}" th:object="${sv}" method="post">-->
<!--    <label for="cccd">Số CCCD:</label>-->
<!--    <input type="text" id="cccd" th:field="*{cccd}" /><br/>-->

<!--    <label for="hoTen">Họ tên:</label>-->
<!--    <input type="text" id="hoTen" th:field="*{hoTen}" /><br/>-->

<!--    <label for="ngaySinh">Ngày sinh:</label>-->
<!--    <input type="text" id="ngaySinh" th:field="*{ngaySinh}" /><br/>-->

<!--    <label for="gioiTinh">Giới tính:</label>-->
<!--    <input type="text" id="gioiTinh" th:field="*{gioiTinh}" /><br/>-->

<!--    <label for="diaChi">Địa chỉ:</label>-->
<!--    <input type="text" id="diaChi" th:field="*{diaChi}" /><br/>-->

<!--    <button type="submit">Submit</button>-->
<!--</form>-->
<!--</body>-->
<!--</html>-->
